<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>testeServlet</servlet-name>
        <servlet-class>fonction.testeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jaime</servlet-name>
        <servlet-class>Servlet.Jaime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>Servlet.Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Share</servlet-name>
        <servlet-class>Servlet.Share</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Servlet.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teste</servlet-name>
        <servlet-class>Servlet.Teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>Servlet.Vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Partage</servlet-name>
        <servlet-class>Servlet.Partage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>Servlet.Chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionEtConnexion</servlet-name>
        <servlet-class>Servlet.InscriptionEtConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>Servlet.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvisGeneral</servlet-name>
        <servlet-class>Servlet.AvisGeneral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToChatUser</servlet-name>
        <servlet-class>Servlet.ToChatUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TousComs</servlet-name>
        <servlet-class>Servlet.TousComs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fili</servlet-name>
        <servlet-class>Servlet.fili</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testeServlet</servlet-name>
        <url-pattern>/testeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jaime</servlet-name>
        <url-pattern>/Jaime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Share</servlet-name>
        <url-pattern>/Share</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teste</servlet-name>
        <url-pattern>/Teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/Vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Partage</servlet-name>
        <url-pattern>/Partage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionEtConnexion</servlet-name>
        <url-pattern>/InscriptionEtConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvisGeneral</servlet-name>
        <url-pattern>/AvisGeneral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToChatUser</servlet-name>
        <url-pattern>/ToChatUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TousComs</servlet-name>
        <url-pattern>/TousComs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fili</servlet-name>
        <url-pattern>/fili</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10000
        </session-timeout>
    </session-config>
</web-app>
